body {
    background-image: url(http://assets.stickpng.com/images/580b585b2edbce24c47b270d.png), url(images/tähed.png);
    background-repeat: no-repeat,no-repeat;      /*et pilt ei korduks*/
    /*piltide asukohad*/
    background-position-x: 40%, 0%; 
    background-position-y: 40%, 0%; 
    }