/* Impordib google api'st 'Ubuntu' fondi */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
  
  body {
  color:white; /*kogu body tekst valge */
  background-color: black;
  overflow: hidden;
  }


#pealkiri {
  font-size: xx-large;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
}

#saturn {
  position: absolute;
  top: 30%;
  left: 0%;
}

#maa {
  position: absolute;
  top: 40%;
  left: 48%;
}

#neptuun {
  position: absolute;
  top: 30%;
  right: 0%;
}

/*Pildid paisuvad kursoriga peale minnes*/

.pilt {
  height: 45vh;
  transition: transform .2s;
}

.pilt:hover { 
  transform: scale(1.2);
}